@page "/contribution/{contributionId}/adddisc"

@rendermode @(new InteractiveAutoRenderMode(prerender:true))

@if (this.contribution != null)
{
    <TheDiscDb.Client.Controls.Breadcrumb PrimaryText="Add Disc" Items="[
        GetRootContributionLink(),
        GetContributionLink(this.contribution)
    ]" />
}

<h3>Add Disc to Contribution</h3>

@if (handler is null)
{
    <div>Make sure the disc you want to add is in your disc drive. Next, select the root folder of the disc by using the 'Pick Directory' button below. This allows the disc hash to be calculated so we can determine if that disc is already in the database. You may be prompted to allow file system access by your browser.</div>
    <button class="btn btn-primary" @onclick="OpenFolderAsync">Pick directory</button>
}
else
{
    <div>Hash: @hash</div>
    <EditForm Model="@request" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label>Disc Format</label>
            <SfDropDownList TValue="string" TItem="string" DataSource="formats" class="form-control" @bind-Value="request.Format" Placeholder="Select format" />
            <ValidationMessage For="@(() => request.Format)" />
        </div>
        <div class="mb-3">
            <label>Disc Title</label>
            <InputText class="form-control" @bind-Value="request.Name" @oninput="DiscTitleChanged" />
            <ValidationMessage For="@(() => request.Name)" />
        </div>
        <div class="mb-3">
            <label>Disc Slug</label>
            <InputText class="form-control" @bind-Value="request.Slug" />
            <ValidationMessage For="@(() => request.Slug)" />
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </EditForm>
}