@page "/contribution/{contributionId}/discs/{discId}/identify"

@rendermode @(new InteractiveAutoRenderMode(prerender:false))

@if (this.disc != null && this.contribution != null)
{
    <TheDiscDb.Client.Controls.Breadcrumb PrimaryText="Identify" Items="[
    GetRootContributionLink(),
    GetContributionLink(this.contribution),
    GetContributionDiscLink(this.contribution, this.disc)
]" />
}

<h1>Indentify Items</h1>

@if (allTitles is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <QuickGrid Items="filteredTitles" Class="striped-grid">
        <PropertyColumn Property="@(t => t.ChapterCount)" />
        <PropertyColumn Property="@(t => t.DisplaySize)" />
        <PropertyColumn Property="@(t => t.Length)" />
        <TemplateColumn Title="Segment Map">
            <span title="@context.SegmentMap">@Truncate(context.SegmentMap, 12)</span>
        </TemplateColumn>
        <PropertyColumn Property="@(t => t.Playlist)" />
        @if (this.commentColumnVisible)
        {
            <PropertyColumn Property="@(t => t.JavaComment)" Title="Comment" />
        }
        <TemplateColumn Title="Name">
            <a title="edit" style="cursor:pointer" @onclick="() => EditTitle(context)">@GetTitle(context)</a>
        </TemplateColumn>
        @if (this.mediaType != null && this.mediaType.Equals("series", StringComparison.InvariantCultureIgnoreCase))
        {
            <TemplateColumn Title="Season" Align="Align.Center">
                @GetSeason(context)
            </TemplateColumn>
            <TemplateColumn Title="Episode" Align="Align.Center">
                @GetEpisode(context)
            </TemplateColumn>
        }
        <TemplateColumn>
            @if (IsIdentified(context))
            {
                <span>@GetIdentifyButtonText(context)</span>
            }
            else
            {
                <SfDropDownButton Content="Identify">
                    <DropDownButtonEvents ItemSelected="(args) => ItemSelected(context, args)"></DropDownButtonEvents>
                    <DropDownMenuItems>
                        @if (this.mediaType != null && this.mediaType.Equals("movie", StringComparison.InvariantCultureIgnoreCase))
                        {
                            <DropDownMenuItem Text="Main Movie" data-type="MainMovie"></DropDownMenuItem>
                            <DropDownMenuItem Text="Extra" data-type="Extra"></DropDownMenuItem>
                        }
                        @if (this.mediaType != null && this.mediaType.Equals("series", StringComparison.InvariantCultureIgnoreCase))
                        {
                            <DropDownMenuItem Text="Episode" data-type="Episode"></DropDownMenuItem>
                            <DropDownMenuItem Text="Extra" data-type="Extra"></DropDownMenuItem>
                        }
                        <DropDownMenuItem Text="Deleted Scene" data-type="DeletedScene"></DropDownMenuItem>
                        <DropDownMenuItem Text="Trailer" data-type="Trailer"></DropDownMenuItem>
                    </DropDownMenuItems>
                </SfDropDownButton>
            }
        </TemplateColumn>
        <TemplateColumn Align="Align.Center">
            @if (IsIdentified(context))
            {
                <SfButton IconCss="e-icons e-circle-remove" OnClick="() => RemoveIdentification(context)" title="Remove Identification" />
            }
            else
            {
                <span>&nbsp;</span>
            }
        </TemplateColumn>
        <TemplateColumn Align="Align.Center">
            @if (IsIdentified(context))
            {
                <SfButton IconCss="e-icons e-audio" OnClick="() => NameAudioTracks(context)" title="Label Audio Tracks" />
            }
            else
            {
                <span>&nbsp;</span>
            }
        </TemplateColumn>
        <TemplateColumn Align="Align.Center">
            @if (IsIdentified(context) && context.ChapterCount > 0)
            {
                <SfButton IconCss="e-icons e-changes-track" OnClick="() => InputChapters(context)" title="Label Chapters" />
            }
            else
            {
                <span>&nbsp;</span>
            }
        </TemplateColumn>
    </QuickGrid>

    <button class="e-btn e-primary" @onclick="SubmitIdentifications">Done Identifying</button>
}

@if (showEpisodeDialog)
{
    <SfDialog @ref="episodeDialog" Target="body" Width="390px" @bind-Visible="@showEpisodeDialog" CssClass="e-edit-dialog" IsModal="true" ShowCloseIcon="true" Header="Identify Episode">
        <ChildContent>
            <DialogAnimationSettings Effect="DialogEffect.Zoom"></DialogAnimationSettings>
            <EditForm Model="@currentItem" OnValidSubmit="@HandleValidEpisodeSubmit">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="field-container name-container">
                    <SfTextBox CssClass="season-number e-field" Placeholder="Season Number" OnChange="TrySetEpisodeTitle" FloatLabelType="@FloatLabelType.Always" @bind-Value="@currentItem!.Episode!.Season"></SfTextBox>
                    <ValidationMessage For="@(() => currentItem!.Episode!.Season)" />
                </div>
                <div class="field-container name-container">
                    <SfTextBox CssClass="episode-number e-field" Placeholder="Episode Number" OnChange="TrySetEpisodeTitle" FloatLabelType="@FloatLabelType.Always" @bind-Value="@currentItem.Episode.Episode"></SfTextBox>
                    <ValidationMessage For="@(() => currentItem.Episode.Episode)" />
                </div>
                <div class="field-container name-container">
                    <SfTextBox CssClass="item-title e-field" Placeholder="Title" FloatLabelType="@FloatLabelType.Always" @onkeypress="EpisodeTitleKeyPress" @bind-Value="@currentItem!.ItemTitle"></SfTextBox>
                    <ValidationMessage For="@(() => currentItem!.ItemTitle)" />
                </div>
                <div class="field-container name-container">
                    <SfTextBox CssClass="episode-description e-field" Placeholder="Description (optional)" FloatLabelType="@FloatLabelType.Always" @bind-Value="@currentItem.Description"></SfTextBox>
                    <ValidationMessage For="@(() => currentItem.Description)" />
                </div>
                <div class="e-footer-content">
                    <div class="button-container">
                        <button type="button" class="e-btn e-normal" @onclick="EpisodeDialogCancelClicked">Cancel</button>
                        <button type="submit" class="e-btn e-normal e-primary">Save</button>
                    </div>
                </div>
            </EditForm>
        </ChildContent>
    </SfDialog>
}

@if (showItemDialog)
{
    <SfDialog @ref="itemDialog" Target="body" Width="390px" @bind-Visible="@showItemDialog" CssClass="e-edit-dialog" IsModal="true" ShowCloseIcon="true" Header="Identify Item">
        <ChildContent>
            <DialogAnimationSettings Effect="DialogEffect.Zoom"></DialogAnimationSettings>
            <EditForm Model="@currentItem" OnValidSubmit="@HandleValidItemSubmit">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="field-container name-container">
                    <SfTextBox CssClass="item-title e-field" Placeholder="Title" FloatLabelType="@FloatLabelType.Always" @bind-Value="@currentItem!.ItemTitle"></SfTextBox>
                    <ValidationMessage For="@(() => currentItem!.ItemTitle)" />
                </div>
                @if (this.mediaType != null && this.mediaType.Equals("series", StringComparison.InvariantCultureIgnoreCase))
                {
                    <div class="field-container name-container">
                        <SfTextBox CssClass="season-number e-field" Placeholder="Season Number (optional)" FloatLabelType="@FloatLabelType.Always" @bind-Value="@currentItem!.Episode!.Season"></SfTextBox>
                        <ValidationMessage For="@(() => currentItem!.Episode!.Season)" />
                    </div>
                    <div class="field-container name-container">
                        <SfTextBox CssClass="episode-number e-field" Placeholder="Episode Number (optional)" FloatLabelType="@FloatLabelType.Always" @bind-Value="@currentItem.Episode.Episode"></SfTextBox>
                        <ValidationMessage For="@(() => currentItem.Episode.Episode)" />
                    </div>
                }
                <div class="field-container name-container">
                    <SfTextBox CssClass="item-description e-field" Placeholder="Description (optional)" FloatLabelType="@FloatLabelType.Always" @bind-Value="@currentItem.Description"></SfTextBox>
                    <ValidationMessage For="@(() => currentItem.Description)" />
                </div>
                <div class="e-footer-content">
                    <div class="button-container">
                        <button type="button" class="e-btn e-normal" @onclick="ItemDialogCancelClicked">Cancel</button>
                        <button type="submit" class="e-btn e-normal e-primary">Save</button>
                    </div>
                </div>
            </EditForm>
        </ChildContent>
    </SfDialog>
}

@if (showChapterDialog)
{
    <SfDialog @ref="chapterDialog" Target="body" Width="400px" @bind-Visible="@showChapterDialog" CssClass="e-edit-dialog" IsModal="true" ShowCloseIcon="true" Header="Input Chapters">
        <ChildContent>
            <DialogAnimationSettings Effect="DialogEffect.Zoom"></DialogAnimationSettings>
            <EditForm Model="@currentItem" OnValidSubmit="@HandleValidChapterSubmit">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                @if (this.currentItem != null && this.currentItem.ChapterMatches.Any())
                {
                    <SfDropDownButton Content="Copy From...">
                        <DropDownButtonEvents ItemSelected="(args) => CopyChapters(args)"></DropDownButtonEvents>
                        <DropDownMenuItems>
                            @for (int i = 0; i < this.currentItem.ChapterMatches.Count; i++)
                            {
                                var match = this.currentItem.ChapterMatches.ElementAt(i);
                                for (int j = 0; j < match.Value.Count(); j++)
                                {
                                    var discItem = match.Value.ElementAt(j);
                                    var name = $"{match.Key.Name} {discItem.Name}";
                                    <DropDownMenuItem Text="@name" data-matchIndex="@i" data-ItemIndex="@j"></DropDownMenuItem>
                                }
                            }
                        </DropDownMenuItems>
                    </SfDropDownButton>
                }
                <ol>
                @foreach (var item in this.currentItem!.Chapters)
                {
                    <li>
                        <InputText @bind-Value="item.Title" class="form-control" />
                    </li>
                }
                </ol>
                <div class="e-footer-content">
                    <div class="button-container">
                        <button type="button" class="e-btn e-normal" @onclick="ChapterDialogCancelClicked">Cancel</button>
                        <button type="submit" class="e-btn e-normal e-primary">Save</button>
                    </div>
                </div>
            </EditForm>
        </ChildContent>
    </SfDialog>
}

@if (showAudioTrackDialog)
{
    <SfDialog @ref="audioTrackDialog" Target="body" Width="400px" @bind-Visible="@showAudioTrackDialog" CssClass="e-edit-dialog" IsModal="true" ShowCloseIcon="true" Header="Name Audio Tracks">
        <ChildContent>
            <DialogAnimationSettings Effect="DialogEffect.Zoom"></DialogAnimationSettings>
            <EditForm Model="@currentItem" OnValidSubmit="@HandleValidAudioTrackSubmit">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <ol>
                    @foreach (var item in this.currentItem!.AudioTracks)
                    {
                        <li>
                            <div>@item.GetDisplayName()</div>
                            <InputText @bind-Value="item.Title" class="form-control" />
                        </li>
                    }
                </ol>
                
                <div class="e-footer-content">
                    <div class="button-container">
                        <button type="button" class="e-btn e-normal" @onclick="AudioTrackDialogCancelClicked">Cancel</button>
                        <button type="submit" class="e-btn e-normal e-primary">Save</button>
                    </div>
                </div>
            </EditForm>
        </ChildContent>
    </SfDialog>
}


<Syncfusion.Blazor.Popups.SfDialogProvider />

<div class="col-lg-12 control-section toast-default-section">
    <SfToast ID="toast_default" @ref="toast" Title="User Message" Content="@toastContent" Timeout="5000" Icon="e-meeting">
        <ToastPosition X="Right"></ToastPosition>
    </SfToast>
</div>