@page "/contribute/my"

@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<TheDiscDb.Client.Controls.Breadcrumb PrimaryText="My Contributions" Items="[
    GetRootContributionLink()
]" />

<h1>My Contributions</h1>
<QuickGrid Items="Contributions" Class="striped-grid" ItemKey="@(c => c.EncodedId)">
    <TemplateColumn Title="Name">
        <a href="/contribution/@context.EncodedId">@context.ReleaseTitle</a>
    </TemplateColumn>
    <PropertyColumn Property="@(c => c.Title)" />
    <PropertyColumn Property="@(c => c.MediaType)" />
    <PropertyColumn Property="@(c => c.Status)" />
</QuickGrid>