@page "/boxset/{slug}/"

@if (Item != null && Release != null)
{
    <PageTitle>@Item.Title - TheDiscDb</PageTitle>
    <HeadContent>
        <meta name="description" content="Details of the boxset @Item.Release?.Title including plot, stars, directors, writers, and a list of the releases present in TheDiscDb." />
        <link rel="canonical" href="@BuildCanonicalLink(GetBoxsetLink(Item))" />
    </HeadContent>
    <div class="vstack">
        <TheDiscDb.Client.Controls.Breadcrumb Items="[GetBoxsetRootLink()]" PrimaryText="@Item.Title" />
        <div class="hstack gap-3 d-flex align-items-start">
            <img src="/images/@Item.ImageUrl?width=345&height=518" width="345" height="518" alt="@Item.Title" class="mediaItemDetailCover" />
            <div class="vstack">
                <h1>@Item.Title</h1>
                <h3>@Release?.Title</h3>
                <div class="hstack gap-3">
                    <label>Release Date:</label>
                    @Release?.ReleaseDate.ToString("d")
                </div>
                <AmazonAssociatesButton Asin="@Release?.Asin" />
                <ul>
                    @if (Release?.Discs != null)
                    {
                        foreach (var disc in Release.Discs)
                        {
                            <li>
                                <a href="@disc.DiscDetailUrl(Release, this.Item)">@disc.GetFullName()</a>
                                <ul class="facts">
                                    @foreach (var feature in NavigationExtensions.GetDiscFeatures(disc))
                                    {
                                        <li>
                                            <span class="feature">@feature.Description</span>
                                            @if (feature.HasChapters)
                                            {
                                                <span title="Has chapter names">
                                                    <SfIcon Name="IconName.ListOrdered" />
                                                </span>
                                            }
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>



}