@page "/{type}/{slug}/releases/{releaseSlug}/discs/{slugOrIndexString}"
@page "/disc/{contentHash}"

@rendermode InteractiveAuto

@if (Item == null || Disc == null || Release == null)
{
    <div>Item, Disc or Release not found</div>
}
else
{
    <PageTitle>@Item.Title - @Release.Title - @Disc.Name - TheDiscDb</PageTitle>
    <HeadContent>
        <meta name="description" content="Details about the disc @Disc.Name from the release @Release.Title." />
        <link rel="canonical" href="@BuildCanonicalLink(GetDiscLink(Item, Release, Disc))" />
    </HeadContent>
    <TheDiscDb.Client.Controls.Breadcrumb PrimaryText="@Disc.GetFullName()" Items="[
            GetRootLink(this.Item),
            GetMediaItemLink(this.Item),
            GetReleaseLink(this.Item, this.Release),
            GetDiscLink(this.Item, this.Release, this.Disc)
        ]" />
    <h1>@Disc.GetFullName()</h1>
    <h2>@Release.Title</h2>

    <SfSwitch TChecked="bool" ValueChange="e => AllTitlesChanged(e)">
        Show all titles
    </SfSwitch>

    <table>
        <theader>
            <th style="cursor: pointer;" @onclick="@(e => SortTable("SourceFile"))">Source File</th>
            <th Style="cursor: pointer;" @onclick="@(e => SortTable("Description"))">Description</th>
            <th Style="cursor: pointer;" @onclick="@(e => SortTable("ItemType"))">Type</th>
            @if (this.Item!.Type!.Equals("series", StringComparison.OrdinalIgnoreCase))
            {
                <th Style="cursor: pointer;" @onclick="@(e => SortTable("Season"))">Season</th>
                <th Style="cursor: pointer;" @onclick="@(e => SortTable("Episode"))">Episode</th>
            }
            <th Style="cursor: pointer;" @onclick="@(e => SortTable("SegmentMap"))">Segment Map</th>
            <th Style="cursor: pointer;" @onclick="@(e => SortTable("Duration"))">Length</th>
            <th Style="cursor: pointer;" @onclick="@(e => SortTable("DisplaySize"))">Size</th>
        </theader>
        <tbody>
            @foreach (var title in FilteredTitles)
            {
                <tr>
                    <td><a href="@TitleDetailUrl(title)">@title.SourceFile</a></td>
                    <td>@title.Description</td>
                    <td>@title.ItemType</td>
                    @if (this.Item!.Type!.Equals("series", StringComparison.OrdinalIgnoreCase))
                    {
                        <td>@title.Season</td>
                        <td>@title.Episode</td>
                    }
                    <td>@title.SegmentMap</td>
                    <td>@title.Duration</td>
                    <td>@title.DisplaySize</td>
                </tr>
            }
        </tbody>
    </table>
}