@if (Item == null || Disc == null || Release == null)
{
    <div>Loading titles...</div>
}
else
{
    <div class="d-flex align-items-center gap-2 mb-2">
        <SfSwitch TChecked="bool" ValueChange="e => AllTitlesChanged(e)" />
        <label>Show all titles</label>
    </div>

    <div class="table-responsive">
    <QuickGrid Items="FilteredTitles">
        <TemplateColumn Title="Source File" Sortable="true" SortBy="SortSourceFile">
            <a href="@TitleDetailUrl(context)">@context.SourceFile</a>
        </TemplateColumn>
        <PropertyColumn Property="@(t => t.Description)" Sortable="true" />
        <PropertyColumn Property="@(t => t.ItemType)" Title="Type" Sortable="true" />
        @if (this.Item!.Type!.Equals("series", StringComparison.OrdinalIgnoreCase))
        {
            <PropertyColumn Property="@(t => t.Season)" Sortable="true" />
            <PropertyColumn Property="@(t => t.Episode)" Sortable="true" />
        }
        <PropertyColumn Property="@(t => t.SegmentMap)" Sortable="true" />
        <PropertyColumn Property="@(t => t.Duration)" Sortable="true" />
        <PropertyColumn Property="@(t => t.DisplaySize)" Sortable="true" />
    </QuickGrid>
    </div>
}