@page "/{type}/{slug}/releases/{releaseSlug}/discs/{slugOrIndexString}"
@page "/disc/{contentHash}"

@rendermode @(new InteractiveAutoRenderMode(prerender:false))

@if (Item == null || Disc == null || Release == null)
{
    <div>Item, Disc or Release not found</div>
}
else
{
    <PageTitle>@Item.Title - @Release.Title - @Disc.Name - TheDiscDb</PageTitle>
    <HeadContent>
        <meta name="description" content="Details about the disc @Disc.Name from the release @Release.Title." />
        <link rel="canonical" href="@BuildCanonicalLink(GetDiscLink(Item, Release, Disc))" />
    </HeadContent>
    <TheDiscDb.Client.Controls.Breadcrumb PrimaryText="@Disc.GetFullName()" Items="[
            GetRootLink(this.Item),
            GetMediaItemLink(this.Item),
            GetReleaseLink(this.Item, this.Release),
            GetDiscLink(this.Item, this.Release, this.Disc)
        ]" />
    <h1>@Disc.GetFullName()</h1>
    <h2>@Release.Title</h2>

    <SfSwitch TChecked="bool" ValueChange="e => AllTitlesChanged(e)">
        Show all titles
    </SfSwitch>

    <QuickGrid Items="FilteredTitles">
        <TemplateColumn Title="Source File" Sortable="true" SortBy="SortSourceFile">
            <a href="@TitleDetailUrl(context)">@context.SourceFile</a>
        </TemplateColumn>
        <PropertyColumn Property="@(t => t.Description)" Sortable="true" />
        <PropertyColumn Property="@(t => t.ItemType)" Title="Type" Sortable="true" />
        @if (this.Item!.Type!.Equals("series", StringComparison.OrdinalIgnoreCase))
        {
            <PropertyColumn Property="@(t => t.Season)" Sortable="true" />
            <PropertyColumn Property="@(t => t.Episode)" Sortable="true" />
        }
        <PropertyColumn Property="@(t => t.SegmentMap)" Sortable="true" />
        <PropertyColumn Property="@(t => t.Duration)" Sortable="true" />
        <PropertyColumn Property="@(t => t.DisplaySize)" Sortable="true" />
    </QuickGrid>
}