
@typeparam TSortItem

<div class="hstack gap-1 mb-2 flex-wrap">
    <span>Sort by: </span>
    <select @onchange="SortDefinitionChanged">
        @if (AllItems != null)
        {
            foreach (var state in AllItems)
            {
                <option value="@state.Id" checked="@(state!.Default)">@state.DisplayText</option>
            }
        }
    </select>

    <SfIcon type="button" class="btn" @onclick="SortDirectionClicked"><SfIcon Name="@SortIcon" title="@SortDirectionDescription" /></SfIcon>
</div>